$text-align: center;

body {
  font-family: 'Nunito', sans-serif;
}

h3 {
  text-align: $text-align;
  font-size: 35px;
}

.hero {
  h1 {
    text-align: $text-align;
    font-size: 200%;
  }

  h2 {
    text-align: $text-align;
    font-weight: 100;
    font-size: 110%;
  }

  iframe {
    display: block;
    margin: 0 auto;

  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  li {
    display: inline-block;
    margin-top: 0;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 0;
    text-decoration: underline;

    .blue-button {
      background-color: blue;
      text-decoration: none !important;
      color: white;
      padding: 0.5em;
      border-radius: 6px;
      width: 8em;
      text-align: center;
      display: inline-block;
      cursor: pointer;
    }
  }
}

.people {
  p {
    text-align: $text-align;
    margin: 0 auto;
    width: 725px;
    margin-bottom: 20px;
  }
  a {
    color: purple;
    display: block;
    text-align: $text-align;
    padding-bottom: 25px;
    font-size: 1em;
    text-decoration: none;
  }
  .groups {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    li {
      list-style-type: none;
    }
    li img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    li h4 {
      text-align: $text-align;
      font-size: 1.5em;
      font-weight: 900;
    }
  }
}

.signup-form {
  max-width: 500px;
    margin: 0 auto;
  p {
    text-align: $text-align;
    margin: 0 auto;
    width: 440px;
    margin-bottom: 20px;
    }
  form {
    display: flex;
    flex-direction: column;
    .name {
      display: flex;
      align-content: center;
      justify-content: space-between;
      input {
        padding: 5px 10px;
        border-radius: 5px;
        width: 50%;
        border: 2px solid lightgray;
      }
    }
    input {
      padding: 5px 10px;
      border-radius: 6px;
      margin-bottom: 10px;
      border: 2px solid lightgray;
    }
  }
  input[type=submit] {
    border-width: 2px;
    border-color: purple;
    background-color: white;
    color: purple;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 6px;
    width: 20em;
    text-align: $text-align;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
}
