/* Base styles */

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.125rem;
}

body * {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
}

ul {
  padding-left: 0;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 75px;
}

hr {
  border-bottom: 1px solid darkslategray;
}

/* Layout styles */

.kenzie__teams {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Block styles */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav__links {
  display: inline-block;
  margin-top: 0;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 0;
  text-decoration: underline;
}
.nav__links--blue-button a {
  background-color: purple;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 6px;
  width: 9em;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.nav__links--blue-button:active {
  transform: translateY(4px);
}

.quotes {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.courses ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

.course__date {
  top: 50%;
  left: 50%;
}

.date {
  height: 50px;
  width: 75px;
  text-align: center;
  margin-left: 33%;
  border: 1px solid darkslategray;
}

.month {
  background-color: navy;
  color: white;
  text-transform: uppercase;
}

.course__name {
  text-align: center;
}

.courses button {
  border-width: 2px;
  border-color: purple;
  background-color: white;
  color: purple;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 6px;
  width: 20em;
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.compare__programs {
  background-color: lightgrey;
  height: 100px;
}

.compare__programs button {
  border-width: 2px;
  border-color: purple;
  background-color: purple;
  color: white;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 6px;
  width: 20em;
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.people__link {
  display: flex;
  justify-content: center;
}

.kenzie__teams {
  list-style-type: none;
}
.kenzie-team__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.kenzie-team__heading {
  text-align: center;
  font-weight: bold;
}

.student-video {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.student-video__content {
  padding-left: 30px;
  max-width: 40em;
}
.student-video__heading{
  font-weight: bold;
}
.student-video__body {
  text-align: left;
}

.signup {
  max-width: 500px;
  margin: 0 auto;
}

.hero__heading {
  text-align: center;
}

.hero__video {
  display: block;
  margin: 0 auto;
}


.signup__body {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.signup__form {
  margin: 0 auto;
}

.signup__fields {
  display: flex;
  justify-content: space-between;
}

.signup__fields--long {
  flex-direction: column;
}
.signup__shortfield {
  width: 50%;
  padding: .75em;
  border-radius: 6px;
  margin: 20px 5px 5px 5px;
  border: 2px solid lightgray;
}

.signup__longfield {
  max-width: 100%;
  padding: .75em;
  border-radius: 6px;
  margin: 5px;
  border: 2px solid lightgray;
}

.signup input[type=submit] {
  margin-top: 10px;
  border-width: 2px;
  border-color: purple;
  background-color: white;
  color: purple;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 6px;
  width: 20em;
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 150px;
}

/*# sourceMappingURL=style.css.map */
